
.cardboard{
    display: flex;
    min-height: 200px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;

    border: 1px solid gray;
    background-color: snow;
    min-width: 720px;
}
.cardboard > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 12px;
    border-color: black;
    border-right: gray;
    border-bottom: gray;
  }

  .cardboard > div.cardItem{
      border : 1px solid rgb(200,200,190);
      border-radius: 1em;
      box-shadow: 8px 8px 10px 1px rgb(100,150,150);
  }